body {
    padding: 60px;
    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ul {
  list-style-type: none;
}

div {
    display: inline-block
}

main {
      margin: 78px 25px 25px 25px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
}

 .media-list {
        overflow-y: scroll;
        flex: 1 1 auto;
      }


.media-object {
border-radius: 15px;
    }

img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px black;

}
.campuses {
    text-align: center;
    font-size: 15px;
    padding: '10px';
}

.row {
    display: block;
}

.control-label {
    margin-right: 20px;
}

.studentForm {
    float: right;
}
.deleteStudent {
    font-size: 10px;
    margin-left: 10px
}

.deleteCampus{
    font-size: 10px;
    margin-top: 10px
}

.deleteStudent:hover, .deleteCampus:hover  {
    color: red
}





.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.col-sm-3 {
  width: 50%;
}

.col-sm-4 {
  width: 50%;
}
