body {
    padding: 60px;
    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div {
    display: inline-block
}

.campuses {
    text-align: center;
    font-size: 18px;
    padding: '20px';
}

.row {
    display: block;
}

.control-label {
    margin-right: 10px;
}

.delete {
    font-size: 10px;
    margin-left: 10px
}
.delete:hover {
    color: red
}

img {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px black;

}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.col-sm-3 {
  width: 50%;
}
