* {
  box-sizing: border-box; }

body {
  background: #555;
  padding-bottom: 56px;
  margin-top: 50px;   }

#main {
  padding: 20px;

}

sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  padding: 0 !important;
  background: #303030;
  height: 100%;
  width: inherit;
  overflow-y: auto;
  border-right: 2px solid #555; }
  sidebar::-webkit-scrollbar{
    width: 10px;
    background-color: #222; }
  sidebar::-webkit-scrollbar-thumb{
    background-color: black;
    -webkit-border-radius: 1ex; }
  sidebar .logo {
    width: 100%;
    padding: 15px; }
  sidebar section > * {
    padding: 0 15px; }
  sidebar .menu-item {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px }
    sidebar .menu-item a {
      transition: border-left, 0.2s;
      padding-left: 15px;
      color: #c8c8c8; }
      sidebar .menu-item a:hover {
        color: white; }
    sidebar .menu-item a.active, sidebar .menu-item a:hover {
      border-left: 4px solid #FE5D17; }


img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px black;

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
